# Node modules
node_modules/

# Build output
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env.example

# vercel
.vercel

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Optional: Ignore test coverage reports
coverage/

# Optional: Ignore local data files or cache
*.local
.cache/
